@font-face {
	font-family: 'fontello';
	src: 	url('fonts/fontello.eot?48500032');
	src: 	url('fonts/fontello.eot?48500032#iefix') format('embedded-opentype'),
			url('fonts/fontello.woff?48500032') format('woff'),
			url('fonts/fontello.ttf?48500032') format('truetype'),
			url('fonts/fontello.svg?48500032#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

/***************
****************
FONTS
****************
***************/

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 72px;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #565656;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 500;
}

h4 {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
}

h5 {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
}

.featured-text h4,
.featured-text h5 {
	color: #fff;
}

a {
	font-family: "Lato", sans-serif;
}

p {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}

.hero-text {
	margin-top: 130px;
	margin-bottom: 3px;
	color: #fff;
}

.hero-sub {
	margin-bottom: 30px;
	margin-top: 0;
	color: #fff;
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width: inherit;
	height: inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events: all;
}

.modal-heading {
	color: #888;
	font-weight: 100;
	font-family: "Lato", sans-serif;
	font-size: 55px;
	text-align: center;
	margin-top: 70px;
}

.modal-sub {
	font-weight: 300;
	font-style: italic;
	font-family: "Lato", sans-serif;
	margin-bottom: 40px;
}

.featured-link:hover {
	text-decoration: none;
}

.price {
	margin-top: 10px;
	font-weight: 600;
	color: #ff5257;
	font-size: 18px;
}

.table-head p {
	font-weight: 400;
}

.related-title {
	margin-bottom: 40px;
}

.related-lens {
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 15px;
}

.copyright {
	margin-bottom: 0;
}

.rent-heading {
	font-weight: 400;
	font-size: 40px;
	color: #6c6c6c;
	text-transform: none;
	margin: 40px 0 30px 0;
}

.login-heading {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 60px;
	margin: 40% 0 0 0;
	text-transform: none;
	position: relative;
	top: -80px;
}

.login-sub {
	position: relative;
	top: -65px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.cancel-link {
	display: block;
	text-align: center;
	font-size: 16px;
}

.lens-name-sm {
	margin-top: 6px;
}

/***************
****************
IMAGES
****************
***************/

.helper {
    position: relative;
    height: 550px;
}

.lens-img {
	max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.related-img {
	max-width: 100%;
	max-height: 150px;
	min-height: 150px;
	margin: 0 auto;
}

.img-edit {
	max-width: 120px;
	display: block;
	margin: 0 auto;
}

.img-rent {
	max-width: 250px;
	display: block;
	margin: 0 auto;
}

.user-pic {
	display: block;
	margin: 50px auto;
	border: 1px solid #ccc;
}

.account-lens-img {
	max-height: 150px;
	max-width: 150px;
	margin: 0 auto;
}

/***************
****************
ROW STYLES
****************
***************/

.hero {
	background-image: url(img/hero-bg-5.jpg);
}

.cta {
	background-color: rgba(0,0,0,0.4);
	padding: 30px 0;
}

.off-white {
	background-color: #f5f5f5;
	width: 100%;
}

.featured-title {
	padding: 30px 0;
}

.footer {
	background-color: #2b2d2e;
	color: #fff;
	padding: 20px 0;
}

/***************
****************
BOOTSTRAP MODS
****************
***************/

.transparent {
	background-color: rgba(0,0,0,0.15);
	border-color: transparent;
	padding: 10px 0;
	border-radius: 0;
}

.transparent .navbar-nav > li > a {
    color: #fff;
    padding: 10px 15px;
    font-weight: 300;
}
.transparent .navbar-nav > li > a:hover,
.transparent .navbar-nav > li > a:focus {
    color: #fff;
}
.transparent .navbar-nav > .active > a, 
.transparent .navbar-nav > .active > a:hover, 
.transparent .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.transparent .navbar-nav > .open > a, 
.transparent .navbar-nav > .open > a:hover, 
.transparent .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.transparent .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-white {
	background-color: #fff;
	border-bottom-color: #ccc;
	padding: 10px 0;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-white .navbar-nav > li > a {
    padding: 10px 15px;
    color: #565656;
    font-weight: 300;
}

.navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus {
	color: #565656;
}

.navbar-white .navbar-nav > .active > a, 
.navbar-white .navbar-nav > .active > a:hover, 
.navbar-white .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-white .navbar-nav > .open > a, 
.navbar-white .navbar-nav > .open > a:hover, 
.navbar-white .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-white .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-brand {
	padding: 3px 20px 0 20px;
	height: auto;
}

.col-full {
	padding: 0;
}

.row-custom {
	width: 100%;
	position: relative;
	height: 100%;
}

.bottom-20 {
	margin-bottom: 20px;
}

.navbar-nav li a:focus,
.navbar-nav li a:active {
	background: transparent !important;
}

.dropdown-menu > li > a {
    color: #428bca;
}

.dropdown ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 20px;
    width: 200px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.glyphicon-user {
	margin-left: 10px;
	position: relative;
	top: 1px;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align: center;
    margin-top: 10px;
}

.tab-content {
	margin-top: 30px;
}

.tab-content .ghost-submit-link {
	font-size: 14px !important;
	vertical-align: bottom;
}

.custom-row {
	font-size: 0;
}

.custom-row > * {
	float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}

.custom-row > .button {
	vertical-align: bottom;
}

/***************
****************
BUTTONS
****************
***************/

.ghost-button {
	display: inline-block;
	padding: 10px 30px;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	border-radius: 2px;
	text-align: center;
	outline: none;
	text-decoration: none;
	margin-bottom: 140px;
	background-color: rgba(255,255,255,0.3);
	transition: background-color 0.1s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
	text-decoration: none;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	transition: background-color 0.1s ease-in;
}

.button {
	margin-bottom: 40px;
}

.ghost-submit-link {
	color: #fff;
	font-size: 22px;
	text-align: center;
	display: block;
	width: 100%;
	padding: 13px 0;
	border: 0;
	outline: none;
	text-decoration: none;
	background-color: rgb(255,82,87);
	transition: background-color 0.1s ease-out;
}

.ghost-submit-link:hover,
.ghost-submit-link:active {
	text-decoration: none;
	color: #fff;
	background-color: rgb(255,116,120);
	transition: background-color 0.1s ease-in;
}

.ghost-half {
	width: 49%;
	margin-right: 1%;
	float: left;
}

.transparent .button-nav-link {
	border: 2px solid #fff;
	color: #fff;
	margin-right: 15px;
	transition: background-color 0.1s ease-out;
}

.transparent .button-nav-link:hover {
	color: #fff !important;
	background-color: rgba(0,0,0,0.1) !important;
	transition: background-color 0.1s ease-in;
}

.navbar-white .button-nav-link {
	border: 1px solid #838383;
	color: #565656;
	margin-right: 15px;
	transition: background-color 0.1s ease-out;
}

.navbar-white .button-nav-link:hover {
	color: #565656 !important;
	background-color: rgba(0,0,0,0.05) !important;
	transition: background-color 0.1s ease-in;
}

.login-buttons {
	margin: 25px 0 50px 0;
}

#googleSignIn {
	max-width: 200px;
	float: right;
	margin-right: 10px;
}

.fb-login {
	display: block;
	background-color: #43609c;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;
	position: relative;
	border-radius: 3px;
	height: 32px;
	max-width: 111px;
	margin-left: 10px;
}

.fb-login:before {
	display: inline-block;
	content: "\E800";
	font-family: "fontello";
	border-right: 1px solid #2a3c62;
	height: 100%;
	max-width: 20px;
	position: relative;
	padding-top: 6px;
	padding-left: 12px;
	padding-right: 19px;
	font-size: 140%;
}

.fb-text {
	padding-left: 19px;
	position: relative;
	top: -3px;
}

.fb-login:hover {
	text-decoration: none;
	color: #fff;
	background-color: #4c6db3;
	border-bottom: 2px solid #2a3c62;
}

/***************
****************
FORM STYLES
****************
***************/

.main-form select {
	background-color: #fff;
    border: none;
    border-radius: 0px;
    border-right: 1px solid #565656;
    padding: 9px 12px;
    font-size: 16px;
    outline: 0;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    color: #565656;
    -webkit-appearance: none;
    background: url(img/arrow-down.png) no-repeat right #fff;
    background-position: 97% 50%;
}

.ghost-submit {
	color: #fff;
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding: 9px 12px;
	border: 0;
	outline: none;
	text-decoration: none;
	background-color: rgb(255,82,87);
	transition: background-color 0.1s ease-out;
}

.ghost-submit:hover,
.ghost-submit:active {
	text-decoration: none;
	color: #fff;
	background-color: rgb(255,116,120);
	transition: background-color 0.1s ease-in;
}

.home-ghost {
	font-size: 18px;
	padding: 8px 10px;
}

.lens-submit {
	padding: 15px 0;
}

.input-line {
	width: 100%;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 30px;
	background: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #6c6c6c;
	border-radius: 0;
	padding-bottom: 5px;
}

.input-line:focus {
	outline: none;
}

.input-group {
	margin-bottom: 20px;
}

.input-square {
	width: 100%;
	margin-bottom: 0 !important;
	font-weight: 300;
	font-size: 18px;
	background: transparent;
	border: 0;
	border-radius: 0;
	padding: 10px;
	background-color: #f5f5f5;
}

.input-square:focus {
	outline: none;
}

.input-group-addon {
	border: 2px solid #f5f5f5;
	background-color: #fff;
}

label {
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 10px;
}

input[type="text"] {
	margin-bottom: 20px;
}

.label-text {
	font-weight: 400;
	font-size: 17px;
	position: relative;
	top: -6px;
	left: 5px;
}

.radio {
	margin-left: 30px;
}

.upload-file {
	background: url(img/image-upload-faded.png) no-repeat;
	max-width: 150px;
	margin: 0 auto;
	background-position: 65% 50%;
}

.upload-file:hover {
	background: url(img/image-upload.png) no-repeat;
	background-position: 65% 50%;
}

.upload-file input {
	opacity: 0;
	height: 100px;
	cursor: pointer;
	max-width: 150px;
}

.edit-file {
	text-align: center;
	margin-bottom: 50px;
}

.edit-file input {
	margin-left: 50%;
	position: relative;
	left: -83px;
	margin-top: 10px;
}

/***************
****************
GENERAL
****************
***************/

.featured {
	background-position: center;
	background-size: cover;
	width: 100%;
	margin-bottom: 20px;
}

.featured-text {
	padding: 120px 0;
	background-color: rgba(0,0,0,.6);
}

.logo {
	padding: 0;
}

@media screen and (max-width: 767px) {
	.transparent .button-nav-link {
		border: 0;
		margin: 0;
	}

	.navbar-white .button-nav-link {
		border: 0;
		margin: 0;
	}
}

/***************
****************
SEARCH PAGE
****************
***************/

.pagination-page-info {
    padding-top: 1.7em;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

.pagination {
	float: right;
}

.result-row {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

.search-results {
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 5px;
}

.search-img {
	max-height: 250px;
	width: auto;
	margin: 0 auto;
}

.search-options {
	list-style-type: none;
	font-family: "Lato", sans-serif;
	border: 1px solid #ccc;
	padding: 0 0 10px 0;
	margin-left: 20px;
}

.search-options li {
	display: block;
	padding: 3px 15px;
}

.search-all {
	padding-top: 10px !important;
}

.search-title {
	font-size: 16px;
	font-weight: 400;
	background-color: #f5f5f5;
	padding: 8px 14px !important;
}

.search-advanced {
	margin-top: 95px;
}

.no-results {
	margin-top: 28px;
}

/***************
****************
MISC
****************
***************/

.lens-details {
	list-style-type: none;
	margin-top: 40px;
	padding-left: 0;
}

.lens-details li p {
	font-weight: 400;
}

.lens-details li span {
	font-weight: 300;
	padding-left: 5px;
}

.pricing {
	margin-top: 50px;
	margin-bottom: 50px;
}

table {
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
}

td {
	padding: 8px;
	text-align: center;
	border: 1px solid #ccc;
}

.login-footer {
	text-align: center;
}

.login-footer p {
	margin-bottom: 10px;
	font-size: 14px;
	cursor: pointer;
}

.top-20 {
	margin-top: 20px;
}

.top-40 {
	margin-top: 40px;
}

.bottom-20 {
	margin-bottom: 20px !important;
}

.bottom-40 {
	margin-bottom: 40px;
}

.pad-bottom {
	padding-bottom: 40px;
}

.footer-fixed {
	width: 100%;
	position: fixed;
	top: calc(100% - 62px);
	right: 0;
}

.container-padded {
	margin-bottom: 62px;
}

@media screen and (max-width: 767px) {
	.search-advanced {
		margin-top: 10px;
	}
}