{% extends "main.html" %}
{% block title %}My Profile - Share A Lens{% endblock %}
{% block content %}
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-white">
		{% include 'navbar.html' %}
	</nav>
	<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="row top-20">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="alert alert-{{category}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								{{message}}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="row">
			<div class="col-sm-2 col-sm-offset-5">
				<img src="{{user.picture}}" alt="{{user.name}}" class="img-responsive img-circle user-pic">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#my-lenses" aria-controls="my-lenses" role="tab" data-toggle="tab">My Lenses</a></li>
					<li role="presentation"><a href="#my-rentals" aria-controls="my-rentals" role="tab" data-toggle="tab">My Rentals</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active fade in" id="my-lenses">
						<div class="row result-row custom-row">
							{% for lens in lenses %}
								<div class="search-result col-sm-3">
									<a href="{{url_for('showLens', lens_id = lens.id)}}" class="lens-link">
										{% if lens.picture != None %}<img src="{{ url_for('static', filename='lens-img/') }}{{lens.picture}}" class="img-responsive account-lens-img">{% endif %}
										<p class="lens-name-sm">{{lens.name}}</p>
										<div class="button">
											<a href="{{url_for('editLens', lens_id = lens.id)}}" class="ghost-submit-link ghost-half"><span class="glyphicon glyphicon-pencil"></span> &nbsp;Edit</a>
											<a href="{{url_for('deleteLens', lens_id = lens.id)}}" class="ghost-submit-link ghost-half"><span class="glyphicon glyphicon-trash"></span> &nbsp;Delete</a>
										</div>
									</a>
								</div>
								{% if loop.last != true %}
									{% if loop.index % 4 == 0 %}
										</div>
										<div class="row result-row custom-row">
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
						<div class="row top-40 bottom-40">
							<div class="col-xs-12">
								<a href="{{ url_for('uploadLens') }}" class="ghost-submit-link">Create A New Lens</a>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="my-rentals">
						<div class="row result-row custom-row">
							{% for rental in rentals %}
								<div class="search-result col-sm-3">
									<a href="{{url_for('showLens', lens_id = rental.lens.id)}}" class="lens-link">
										{% if rental.lens.picture != None %}<img src="{{ url_for('static', filename='lens-img/') }}{{rental.lens.picture}}" class="img-responsive account-lens-img">{% endif %}
										<p class="lens-name-sm">{{rental.lens.name}}</p>
									</a>
									<p><b>Pickup:</b> {{rental.start_date}}</p>
									<p><b>Return by:</b> {{rental.end_date}}</p>
								</div>
								{% if loop.last != true %}
									{% if loop.index % 4 == 0 %}
										</div>
										<div class="row result-row custom-row">
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
	{% if showRentals == 'rentals' %}
		<script>
			$('a[href="#my-rentals"]').tab('show');
		</script>
	{% endif %}
{% endblock %}