{% extends "main.html" %}
{% block title %}Share A Lens{% endblock %}
{% block content %}
	<div class="hero">
		<!-- Navigation -->
		<nav class="navbar navbar-default transparent">
			{% include 'navbar.html' %}
		</nav>
		<!-- End Navigation -->

		<div class="container-fluid">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="row top-20">
							<div class="col-sm-8 col-sm-offset-2">
								<div class="alert alert-{{category}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									{{message}}
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="row">
				<div class="xol-xs-12 text-center">
					<h1 class="hero-text">The Perfect Lens</h1>
					<h3 class="hero-sub">To Capture The Perfect Moment</h3>
					<a class="ghost-button" href="#">How It Works</a>
				</div>
			</div>
		</div>
		<div class="container-fluid cta">
			<div class="container">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 col-xs-12">
						<form action="{{url_for('showLenses')}}" method="GET" class="main-form">
							<div class="col-sm-5 col-full">
								<select class="dropdown" name="brand">
									<option value="all" selected>Camera Brand</option>
									<option value="all">All Brands</option>
									{% for brand in brands %}
										<option value="{{brand}}">{{brand}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-sm-5 col-full">
								<select class="dropdown" name="style">
									<option value="all" selected>Lens Type</option>
									<option value="all">All Lens Types</option>
									{% for style in styles %}
										<option value="{{style}}">{{style}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-sm-2 col-full">
								<input type="submit" class="ghost-submit home-ghost" value="Search">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="off-white">
		<div class="container">
			<div class="row text-center featured-title">
				<div class="col-xs-12">
					<h2>Featured Lenses</h2>					
				</div>
			</div>
			<div class="row bottom-40">
				{% for lens in featured %}
					<div class="col-sm-4">
						<div class="featured text-center" style="background-image: url(../static/lens-img/{{lens.picture}});">
							<a href="{{url_for('showLens', lens_id = lens.id)}}" class="featured-link">
								<div class="featured-text">
									<h4>{{lens.brand}}</h4>
									<h5>{{lens.zoom_min}} {% if lens.zoom_min != lens.zoom_max %}- {{lens.zoom_max}}{% endif %} F/{{lens.aperture}}</h5>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% include 'footer.html' %}
{% endblock %}