{% extends "main.html" %}
{% block title %}{{lens.name}} - Share A Lens{% endblock %}
{% block content %}
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-white">
		{% include 'navbar.html' %}
	</nav>
	<!-- End Navigation -->
	<div class="container {% if related.count() == 0 %}container-padded{% endif %}">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="row top-20">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="alert alert-{{category}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								{{message}}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="row top-40">
			{% if lens.picture != None %}
			<div class="col-sm-5">
				<div class="helper">
					<img src="{{ url_for('static', filename='lens-img/') }}{{lens.picture}}" alt="{{lens.name}}" class="img-responsive lens-img">
				</div>
			</div>
			<div class="col-sm-6 col-sm-offset-1">
			{% else %}
			<div class="col-sm-6 col-sm-offset-3">
			{% endif %}
				<h2>{{lens.name}}</h2>
				<ul class="lens-details">
					<li><p>Brand: <span>{{lens.brand}}</span></p></li>
					<li><p>Type: <span>{{lens.style}}</span></p></li>
					<li><p>Focal Length: <span>{{lens.zoom_min}}mm {% if lens.zoom_min != lens.zoom_max %}- {{lens.zoom_max}}mm{% endif %}</span></p></li>
					<li><p>Aperture: <span>F/{{lens.aperture}}</span></p></li>
				</ul>
				<div class="pricing">
					<table>
						<tr>
							<td colspan="2" class="table-head"><p>PRICING</p></td>
						</tr>
						<tr>
							<td>Per day</td>
							<td class="price">${{lens.price_per_day}}</td>
						</tr>
						<tr>
							<td>Per week</td>
							<td class="price">${{lens.price_per_week}}</td>
						</tr>
						<tr>
							<td>Per month</td>
							<td class="price">${{lens.price_per_month}}</td>
						</tr>
					</table>
				</div>
				{% if user.id == lens.user_id %}
					<div class="button">
						<a href="{{url_for('editLens', lens_id = lens.id)}}" class="ghost-submit-link ghost-half"><span class="glyphicon glyphicon-pencil"></span> &nbsp;Edit Lens</a>
						<a href="{{url_for('deleteLens', lens_id = lens.id)}}" class="ghost-submit-link ghost-half"><span class="glyphicon glyphicon-trash"></span> &nbsp;Delete Lens</a>
					</div>
				{% else %}
					<div class="button">
						<a href="{{url_for('requestRental', lens_id = lens.id)}}" class="ghost-submit-link">Request Rental</a>
					</div>
				{% endif %}
			</div>
		</div>
		{% if related.count() != 0 %}
			<div class="row">
				<div class="col-xs-12">
					<h3 class="related-title">Related Lenses</h3>
				</div>
			</div>
			<div class="row">
				{% for relatedLens in related %}
					<div class="col-sm-2{% if loop.first %} col-sm-offset-1{% endif %}">
						<a href="{{url_for('showLens', lens_id = relatedLens.id)}}">
							{% if relatedLens.picture != None %}<img src="{{ url_for('static', filename='lens-img/') }}{{relatedLens.picture}}" alt="{{relatedLens.name}}" class="img-responsive related-img">{% endif %}
							<p class="related-lens">{{relatedLens.name}}</p>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	{% if related.count() == 0 %}
		<div class="footer-fixed">
	{% endif %}
		{% include 'footer.html' %}
	{% if related.count() == 0 %}
		</div>
	{% endif %}
{% endblock %}